<template>
  <div class="hello">
     <div class="row" style="padding: 1rem;">
            <div class="col" style="padding: 3rem; box-shadow: 0 0 5px lightgrey; border-radius: 4px; background-color: white;">
              <div v-show="is_loading" style="width: 100%; height: 65vh; display: table;">
            <div style="display: table-cell; vertical-align: middle;">
              <spinner size="100" :line-size="10" line-fg-color="#6a86e8"></spinner>
            </div>
          </div>
          <p> Issue Number : {{issue.number}} </p>
          <p> Issue Title  : {{issue.title}}</p>
          <p> Issue Author : {{issue.author.login}}</p>
              <table v-show="!is_loading" class="table list-data">
                <thead>
                  <tr>
                    <th scope="col">Comment Author</th>
                    <th scope="col">Comment Message</th>
                  </tr>
                </thead>
                <tbody>
                  <router-link v-bind:to="'/'" tag="tr" v-for="node in nodes" :key="node.number">
                    <td>{{node.author.login}}</td>
                    <td>{{node.body}}</td>
                    </router-link>
                </tbody>
              </table>
              <br>
            </div>
     </div>
  </div>
</template>

<script>
import Spinner from 'vue-simple-spinner'

export default {
  name: 'DetailIssue',
  components: {
      spinner : Spinner
  },
  data () {
    return {
      is_loading: false,
      number: parseInt(this.$route.params.number),
      nodes: [],
      issue: []
    }
  },
  methods: {
    fetchIssues: function () {
        this.is_loading = true
      this.$http.get('http://localhost:4000/list_issue_withdetail/' + this.number).then(response => {
        this.nodes = response.body.data.repository.issue.comments.nodes
        this.issue = response.body.data.repository.issue
        this.is_loading = false
      })
    }
  },
  created: function () {
    this.fetchIssues()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
